keycloak.localhost {
    reverse_proxy http://keycloak:8080 {
        header_up X-Forwarded-Proto {http.request.scheme}
        header_up X-Forwarded-For {http.request.remote.host}
    }
    tls internal
}

photoz.localhost {
    reverse_proxy http://photoz:8080
    tls internal
}